
#page_title{
	text-align: center;
}

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; }

#tabs {
/*	width: 500px;*/
	height: 350px;
}

#accordion {
/*	width: 200px;*/
	height: 350px;
}

#chat_box {
	width: 680px;
	height: 260px;
	border: 1px solid #CCC;
	margin-bottom: 1em;
	background-color: #FFF;
/*	padding: 1em 0;*/
}

#chat_box ul {
	list-style: none;
	margin-left: 0;
	margin: .5em 0em .5em 0em;
}

#chat_box ul li{
	margin-left: .5em;
}

#chat_entry {
	width: 646px;
	height: 20px;
	border: 1px solid #CCC;
/*	background-image: url('/images/silk/icons/bullet_go.png');*/
	background-image: url('/images/silk/icons/comments.png');
	background-repeat: no-repeat;
	padding-left: 2em;
	background-position: .5em;
/*	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;*/
	font: normal normal 1.5em/1.5em Arial, sans-serif;
/*	background-position: center left;*/
/*	background-position: 0px 0px;*/
}

.spaced-left {
	margin-left: 1em;
	text-align: justify;
}