/* define new font size*/

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; }

#tabs {
/*	width: 500px;*/
	height: 350px;
}

#accordion {
/*	width: 200px;*/
	height: 350px;
}

#chat_box {
	width: 100%;
	height: 260px;
	border: 1px solid #CCC;
	margin-bottom: 1em;
	background-color: #FFF;
/*	padding: 1em 0;*/
}

#chat_box ul {
	list-style: none;
	margin-left: 0;
	margin: .5em 0em .5em 0em;
}

#chat_box ul li{
	margin-left: .5em;
}

#chat_entry {
	width: 100%;
	height: 20px;
	border: 1px solid #CCC;
}