/* define new font size*/

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; }

#tabs {
/*	width: 500px;*/
	height: 350px;
}

#accordion {
/*	width: 200px;*/
	height: 350px;
}

#chat_box {
	width: 100%;
	height: 260px;
}

#chat_entry {
	width: 92%;
	height: 20px;
}