body {
  background-color: #FFFFFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container_16 {
  background-color: #FFF;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* ----------------------------------------- */

#page_title{
	text-align: center;
}

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; }

#tabs {
	height: 400px;
}


#conversation {
	width: 680px;
	height: 310px;
	border: 1px solid #CCC;
	margin-bottom: 1em;
	background-color: #FFF;
/*	padding: 1em 0;*/
}

#conversation ul {
	list-style: none;
	margin-left: 0;
	margin: .5em 0em .5em 0em;
}

#conversation ul li{
	margin-left: .5em;
}

form#new_message {}
form#new_message input {
	width: 646px;
	height: 20px;
	border: 1px solid #CCC;
/*	background-image: url('/images/silk/icons/bullet_go.png');*/
	background-image: url('/images/silk/icons/comments.png');
	background-repeat: no-repeat;
	padding-left: 2em;
	background-position: .5em;
/*	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;*/
	font: normal normal 1.5em/1.5em Arial, sans-serif;
/*	background-position: center left;*/
/*	background-position: 0px 0px;*/
}

.spaced-left {
	margin-left: 1em;
	text-align: justify;
}