<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Nunc tincidunt</a></li>
		<li><a href="#tabs-2">Nunc tincidunt</a></li>
	</ul>
	<div id="tabs-1">
		
		<textarea id="chat_box" name="chat_box" rows="8" cols="40" class="chat_box"></textarea>

		<input id="chat_entry" type="text" name="chat_entry" class="chat_entry" value=""/>
		
		<input type="submit" name="some_name" value="send" id="some_name"/>
		
	</div>
	<div id="tabs-2">
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
</div>