<div id="tabs">
	<ul>
		<li><a href="#tabs-1">ASIMOV</a></li>
	</ul>
	<div id="tabs-1">
		
		<div id="chat_box">
			<ul>
				<li>
					** You have entered the room **
				</li>
			</ul>
		</div>

		<input id="chat_entry" type="text" name="chat_entry" class="chat_entry" value=""/>
		
	</div>
</div>