<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class="container_16">
	
	<div class="grid_12 alpha">
		<%= render :partial => "chat_bar" %>
	</div>
	
	<div class="grid_4 omega">
		<%= render :partial => "channel_bar" %>
	</div>
	
</div>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
<% end %>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#accordion").accordion({
				fillSpace: true,
				event: "mouseover",
				icons: {
	    		header: "ui-icon-circle-arrow-e",
					headerSelected: "ui-icon-circle-arrow-s"
				}
			});
		});
	</script>
<% end %>
