<h1 id="page_title">Home#index</h1>


<div class="container_16">
	
	<div class="grid_12 alpha">
		<%= render :partial => "chat_bar" %>
	</div>
	
	<div class="grid_4 omega">
		<div class="spaced-left">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<%#= render :partial => "channel_bar" %>
	</div>
	
</div>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
<% end %>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#accordion").accordion({
				fillSpace: true,
				event: "mouseover",
				icons: {
	    		header: "ui-icon-circle-arrow-e",
					headerSelected: "ui-icon-circle-arrow-s"
				}
			});
		});
	</script>
<% end %>
