<% form_for @setting, :url => settings_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :text_color %><br />
    <%= f.text_field :text_color %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
