<% content_for :head do %>
	<%= juggernaut :client_id => current_user.id,
	    :session_id => current_user_session.id,
	    :debug => true,
	    :channels => [ 1 ] %>
<% end %>

<div class="grid_16 alpha omega">
	<% title "Room: #{@room.name}" %>
</div>
	
<div class="grid_12 alpha">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1"><%=h @room.name %></a></li>
		</ul>
		<div id="tabs-1">
			<div id="conversation">
				<ul>
					<%= render :partial => @messages %>
				</ul>
			</div>
			<% form_for [@room, Message.new] do |f| -%>
			  <%= f.text_field :body, :maxlength => "255" %>
			<% end -%>
		</div>
	</div>
</div>

<div class="grid_4 omega">
	<div class="spaced-left">
		<div id="users_list">
			<p>Loading ...</p>
		</div>
	</div>
</div>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
<% end %>